= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :capacity
    = f.input :place
    = f.input :start_datetime
    = f.input :end_datetime

  .form-actions
    = f.button :submit
