%h1 Listing events

%table
  %tr
    %th Title
    %th Description
    %th Capacity
    %th Place
    %th Start datetime
    %th End datetime
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.title
      %td= event.description
      %td= event.capacity
      %td= event.place
      %td= event.start_datetime
      %td= event.end_datetime
      %td= link_to 'Show', event
%br
