.event
  %h1= @event.title
  %h3
    = t("event.open") + " : "
    = l @event.start_datetime, format: :event_day
    = "(" + @wdays[@event.start_datetime.wday] + ") "
    = l @event.start_datetime, format: :event_time
    = "〜"
    = l @event.end_datetime, format: :event_time
  %h3
    = @event.place
  %p
    = t("event.capacity") + " : "
    = @event.capacity
    = t("event.person")
  %p
    = @event.description

  .save_button
    = link_to '登録する', edit_event_path, class: "btn btn-large btn-success"
  %br

  .time_table
    %img{src: "/assets/chochin.png"}
    Time Table
    %img{src: "/assets/chochin.png"}
  %table.time_table
    %tr= render :partial => @schedules, :spacer_template => "schedules/separator"
