%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Description:
  = @event.description
%p
  %b Capacity:
  = @event.capacity
%p
  %b Place:
  = @event.place
%p
  %b Start datetime:
  = @event.start_datetime
%p
  %b End datetime:
  = @event.end_datetime

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
