= simple_form_for(@speaker, :html => {:multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.file_field :photo
    = f.input :division
    = f.input :description

  .form-actions
    = f.button :submit
