%h1 Listing speakers

%table
  %tr
    %th Name
    %th Photo
    %th Division
    %th Description
    %th
    %th
    %th

  - @speakers.each do |speaker|
    %tr
      %td= speaker.name
      %td= image_tag speaker.photo.url
      %td= speaker.division
      %td= speaker.description
      %td= link_to 'Show', speaker
      %td= link_to 'Edit', edit_speaker_path(speaker)
      %td= link_to 'Destroy', speaker, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Speaker', new_speaker_path
