%p#notice= notice

%p
  %b Name:
  = @speaker.name
%p
  %b Photo:
  = image_tag photo_speaker_path(@speaker)
%p
  %b Description:
  = @speaker.description

= link_to 'Edit', edit_speaker_path(@speaker)
\|
= link_to 'Back', speakers_path
